%h1.ui.header Upload csv file for #{@year.name}

.ui.icon.message
	%i.announcement.icon
	.content
		%p This form will synchronise the existing users list with the one uploaded. If the studio doesn't exist yet, one will be created. Existing users and studios that are not present in that list will not be affected.


%p
	Please upload a CSV file(
	= link_to 'template', image_path('users.csv')
	) containing the following columns, named exactly as follows:
	%ul
		%li SCIPER
		%li name
		%li email
		%li
			role
			%i [student by default]
		%li
			studio
			%i [may be left empty]
= form_tag year_users_upload_post_path(@year), multipart: true do
	= file_field_tag :users_csv
	-# = check_box_tag :notify_by_email
	-# = label_tag :notify_by_email, 'Notify the users per email'
	= hidden_field :year_id, value: @year.id
	= submit_tag "Submit", class: "ui button"
