= form_for @post, html: {class: 'ui form', :multipart => true } do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :thumbnail
    = f.file_field :thumbnail, class: "image-input"
    .thumbnail= image_tag (@post.thumbnail.blank? ? @post.thumbnail.url(:thumb) : @post.thumbnail.url(:thumb)), class: "form-image-thumb"
  .field
    = f.label :body
    = f.text_area :body, class: "froala"
  .field
    = f.select(:tag_list, options_from_collection_for_select(@tags, 'name', 'name'), {include_blank: true}, {class: 'ui fluid dropdown', multiple: true})

  .ui.checkbox.toggle.two-labels
    %span Processus
    = f.check_box :status, checked: @post.status?
    %label{:for => "post_status"} Formes
  - if !@students.empty?
    .field
      = f.label :authors
      = f.collection_check_boxes :authors, @students, :id, :name, {checked: @post.authors.map(&:id)}

  .actions
    = f.submit 'Save', class: "ui button"