= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :body
    = f.text_field :body
  .form-group
    = f.label :authors
    = f.collection_check_boxes :authors, @students, :id, :name, {checked: @post.authors.map(&:id)}

  .actions
    = f.submit 'Save'
