.post
  
  %h2.post-title= link_to post.title, _post_path(post)
  .post-details
    Par #{post.authors.map{|u| u.studio.nil? ? u.name : link_to(u.name, _student_posts_path(u, studio: u.studio))}.join(', ').html_safe}, #{post.created_at.strftime("%d/%m/%y")}
  .post-body= post.body.html_safe
  .post-tags
    - if !post.studio.nil?
      - post.tags.each do |tag|
        .ui.tag.label= link_to tag.name, studio_tag_path(post.studio, tag)
    - else
      - post.tags_on(:category) do |cat|
        .ui.tag.label= link_to cat.name, category_path(cat)
  .post-icons
    .post-actions
      - if can_feature_post? post
        .action= react_component 'FeaturePost', post: post
      - if can_edit_post? post
        .ui.dropdown.action
          %i.icon.setting
          .menu.dropdown
            = link_to 'Edit', edit_post_path(post), class: 'item'
            = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "item"
    %i.icon.post-status{class: post.status == 'processus' ? 'wrench' : 'checkmark'}
