- post_tags = post.tags
.post.configurable{class: post_tags.map{|tag| tag.name.parameterize}.join(' ')}
  %h2.post-title= link_to post.title, _post_path(post)
  .post-details
    Par #{post.authors.map{|u| u.studio.nil? ? u.name : link_to(u.name, _student_posts_path(u, studio: u.studio))}.compact.join(', ').html_safe}, #{post.created_at.strftime("%d/%m/%y")}
  .post-tags
    - if !post.studio.nil?
      - post_tags.each do |tag|
        %span.tag= link_to tag.name, year_studio_tag_path(@year, post.studio, tag)
    - else
      - post.tags_on(:category) do |cat|
        %span.tag= link_to cat.name, year_category_path(@year, cat)
  .post-body= post.body.html_safe
  .post-icons
    .post-actions
      - if can_feature_post? post
        .action= react_component 'FeaturePost', post: post
      - if can_edit_post? post
        .ui.dropdown.action
          %i.icon.setting
          .menu.dropdown
            = link_to 'Edit', edit_year_post_path(@year, post), class: 'item'
            = link_to 'Destroy', year_post_path(@year, post), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "item"
    -# %i.icon.post-status{class: post.status == 'processus' ? 'wrench' : 'checkmark'}
