- content_for(:title, @title)
%h1 Listing posts
- content_for :left_col do 
  %ul.col-xs-12.col-sm-3
    - @studios.each do |studio|
      %li.studio{class: studio == @studio ? 'active' : nil}
        = link_to "Studio #{studio.name.titleize}", studio_posts_path(studio)
        - if admin_signed_in?
          = react_component 'DeleteStudio', studio: studio
        - if studio == @studio && !@students.nil? && !@students.empty?
          %ul
            - @students.each do |student|
              %li.student{class: student == @student ? 'active' : nil}= link_to(student.name, student_posts_path(studio, student))
%ul
- @posts.each do |post|
  %li
    = render 'post', post: post

%br

= link_to 'New Post', new_post_path
