- if @year.persisted?
  .list-header Tous les blogs
  %ul.ui.list.content.accordion.menus.studios
    - if @year.display_by_users?
      - @studios.each do |studio|
        %li.item= link_to 'MOST RECENT', year_most_recent_path(@year), class: (studio == @studio && @most_recent ? 'active' : nil)
        - studio.tags.each_with_index do |tag, i|
          %li= link_to tag.name, year_studio_tag_path(@year, studio, tag), class: tag == @tag ? 'active' : nil
          - if i == (studio.tag_list.count-1)
            %li
              %hr/
        - studio.students.order('name ASC').each do |student|
          %li.item.student= link_to(student.name, year_student_path(@year, student), class: student == @student ? 'active' : nil)
    - else
      - @studios.each do |studio|
        - active = studio == @studio ? 'active' : nil
        %li.item.studio.actionable
          = link_to "studio #{studio.name}", year_studio_posts_path(@year, studio ), class: active
          .ui.title.item-actions{class: active}
            %i.dropdown.icon
          %ul.ui.list.content{class: studio == @studio ? 'active' : nil}
            %li.item= link_to 'MOST RECENT', year_studio_most_recent_path(@year, studio), class: (studio == @studio && @most_recent ? 'active' : nil)
            - studio.taggings.includes(:tag).map(&:tag).each_with_index do |tag, i|
              %li= link_to tag.name, year_studio_tag_path(@year, studio, tag), class: tag == @tag ? 'active' : nil
              - if i == (studio.tag_list.count-1)
                %li
                  %hr/
            - studio.students.order('name ASC').each do |student|
              %li.item.student= link_to(student.name, _student_posts_path(student, studio: studio), class: student == @student ? 'active' : nil)
      - @all_categories.each do |cat|
        %li.item.category= link_to cat.name, year_category_path(@year, cat), class: cat == @category ? 'active' : nil
.list-header +
%ul.ui.list.content.menus
  %li.item= link_to "Home", root_path
  %li.item
    BLOGS
    %ul#blogs-list.ui.list
      - if admin_signed_in?
        %li.item
          = link_to new_year_path, class: 'action' do
            Add new year
            %i.fa.plus.icon
      - archived = false
      - @years.each do |y|
        - if !archived && y.archived?
          %li.item
            %hr
        - archived = y.archived
        %li
          = link_to y.name, year_path(y), class: @year == y ? 'active' : nil
          - if admin_signed_in?
            .item-actions
              = link_to year_users_path(y), class: 'action', "data-tooltip" => "Manage #{y.slug} users" do
                %i.fa.list.icon{style: 'padding: 0;'}
              = link_to edit_year_path(y, current_year: nil), class: 'action', "data-tooltip" => "Edit #{y.name}" do
                %i.fa.write.icon
      = render 'layouts/old_years'
  %li.item= link_to "BLOG archives", " http://alice.epfl.ch/page-134469-fr.html", target: '_blank'
  %li.item= link_to "ALICE online", "http://alice.epfl.ch/", target: '_blank'
  %li.item= link_to "EPFL online", "http://epfl.ch/", target: '_blank'
