!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %title= content_for?(:title) ? "#{yield(:title)} | Alice" : "Alice"
    = favicon_link_tag 'favicon.ico'
    %link{:rel => "stylesheet", :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"}/
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header= render 'layouts/navigation'
    %main
      .ui.container.text
        = render 'layouts/messages'
      .ui.container.grid.stackable
        .three.wide.column= render 'layouts/sidebar'
        .thirteen.wide.column= yield
    = render 'layouts/footer'
