!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %title= content_for?(:title) ? "#{yield(:title)} | Alice" : "Alice"
    = favicon_link_tag 'favicon.ico'
    %link{:rel => "stylesheet", :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"}/
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header= render 'layouts/navigation'
    %main
      .ui.container.text
        = render 'layouts/messages'
      .ui.container.grid.stackable
        .three.wide.column
          .list-header Tous les blogs
          %ul.ui.list.accordion
            - @studios.each do |studio|
              %li.item.studio
                = link_to "studio #{studio.name.titleize}", studio_posts_path(studio), class: studio == @studio ? 'active' : nil
                .title.fa.fa-caret-down
                %ul.ui.list.content{class: studio == @studio ? 'active' : nil}
                  %li.item= link_to 'most recent', studio_most_recent_path(studio), class: (@tag.nil? && @student.nil? ? 'active' : nil)
                  - studio.tag_list.each do |tag|
                    %li= link_to tag, studio_tag_path(studio, tag), class: tag == @tag ? 'active' : nil
                  %li
                    %hr/
                  - studio.students.each do |student|
                    %li.item.student= link_to(student.name, student_posts_path(studio, student), class: student == @student ? 'active' : nil)
            - @all_categories.each do |cat|
              %li.item= link_to cat.name, category_path(cat.name), class: cat == @category ? 'active' : nil
          .list-header +
          %ul.ui.list
            %li.item= link_to "BLOG archives", "http://alice.epfl.ch/page-96461-fr.html", target: '_blank'
            %li.item= link_to "ALICE online", "http://alice.epfl.ch/", target: '_blank'
            %li.item= link_to "EPFL online", "http://epfl.ch/", target: '_blank'
        .thirteen.wide.column= yield
    = render 'layouts/footer'
